#parse("macros.vm")
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Music For All</title>
    #headContent()
</head>
<body>
<h2>Music For All</h2>
<h3>User list</h3>
<ul>
    #foreach($user in $userList)
        <li>$user.username ($user.email)</li>
    #end
</ul>
<p>
    <a href="profile" class="btn btn-primary">Profile</a>
</p>
    #logoutForm()
</body>
</html>