<!DOCTYPE html>
<html lang="en">
<head>
    <title>Music For All</title>
    #include("headerIncludes.vm")
</head>
<body>
<h2>Music For All</h2>
<h3>Index</h3>
<span>It is now $date</span>
<p>
    <a href="profile" class="btn btn-primary">Profile</a>
</p>
#parse("logoutForm.vm")
</body>
</html>