#parse("macros/macros.vm")
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Music For All</title>
    #head()
</head>
<body>
    <h2>Music For All</h2>
    <h3>Index</h3>
    <p>
        <a href="profile" class="btn btn-primary">Profile</a>
    </p>

    #logoutForm()
</body>
</html>