<!DOCTYPE html>
<html lang="en">
<head>
    <title>Music For All</title>
    #include("headerIncludes.vm")
</head>
<body>
<h2>Spring Demo</h2>

<p>
    <a href="index" class="btn btn-default">Main Page</a>
</p>

<form action="#springUrl('/login')" method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td><input type="text" name="username" id="username" /></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input type="password" name="password" id="password" /></td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2"><input type="submit" value="Log in" class="btn btn-default" /></td>
        </tr>
    </table>
    <input type="hidden" name="$!{_csrf.parameterName}" value="${!_csrf.token}" />
</form>
</body>
</html>