#parse("macros.vm")
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="resources/js/jquery.min.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/mainpage.js"></script>

    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/mainpage.css" rel="stylesheet">
    <link href="/resources/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet">

    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
</head>
<body>

<div id="addPlaylistModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Adding playlist</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputNamePlaylist" class="col-sm-2 control-label">Name:</label>
                    <input type="text" class="form-control" id="inputNamePlaylist" placeholder="Name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="acceptCreatingPlaylistButton" type="button" class="btn btn-success">Add</button>
            </div>
        </div>
    </div>
</div>

<div id="deletePlaylistModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Deleting playlist</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                <button type="button" id="acceptRemovingPlaylistButton" class="btn btn-danger" data-dismiss="modal">Yes
                </button>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Music for all</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#springUrl('/main')">Main</a></li>
                <li><a href="#springUrl('/search')">Search</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div id="resultsd" class="well col-md-9 ">
        <table id="results" class="table table-hover table-striped table-condensed ">
            <thead>
            <tr>
                <th>Actions</th>
                <th>Artist</th>
                <th>Title</th>
                <th>Duration</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <button type="button" class="btn btn-xs btn-success">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-xs btn-danger" onclick="DeleteSongFunction(this)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                </td>
                <td>John Lennon</td>
                <td>Imagine</td>
                <td>3:45</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="well  col-md-2 col-md-offset-1  ">
        <button id="createPlaylistButton" class="btn  btn-success btn-block " type="button">Create playlist</button>
        <button id="removePlaylistButton" class="btn  btn-danger btn-block" type="button">Remove selected</button>

        <ul id="playlists" class="nav nav-pills nav-stacked">
            <li class="active"><a href="#" data-value="All">All</a></li>
            <li id="id_example_1"><a href="#" data-value="Playlist 1">Playlist 1</a></li>
            <li id="id_example_2"><a href="#" data-value="Playlist 2">Playlist 2</a></li>
            <li id="id_example_3"><a href="#" data-value="Playlist 3">Playlist 3</a></li>
            <li id="id_example_4"><a href="#" data-value="Playlist 4">Playlist 4</a></li>
        </ul>
    </div>
</div>
<script language="javascript">

    $('#playlists').on('click', 'a', function (e) {
        e.preventDefault();
        $("#playlists li").removeClass("active");
        $(this).closest('li').addClass('active');
        clearAll();
        dummy();
    });

    $('#acceptRemovingPlaylistButton').on('click', function (e) {
        if ($('#playlists li.active').index() != 0) {
           // alert("Deleted playlist with ID: " + $("#playlists li.active").attr('id'));
            $("#playlists li.active").remove();
        } else {
            alert("This playlist cannot be deleted");
        }
    });

    $('#acceptCreatingPlaylistButton').on('click', function (e) {
        addPlaylist(document.getElementById('inputNamePlaylist').value)
        $('#addPlaylistModal').modal('hide');
    });

    $('#removePlaylistButton').on('click', function (e) {
        if ($('#playlists li.active').index() == 0) {
            alert("This playlist cannot be deleted");
        } else {
            $('#deletePlaylistModal').modal('show');
        }
    });

    $('#createPlaylistButton').on('click', function (e) { //Button which call modal window
        $('#addPlaylistModal').modal('show');
    });

    $(document).ready(function () {
        clearAll();
        dummy();
    });

</script>
</body>
</html>