<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="resources/js/jquery.min.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/track.js"></script>
    <script src="resources/js/playlist.js"></script>

    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/mainpage.css" rel="stylesheet">
    <link href="/resources/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet">

    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
</head>
<body>

<div id="addPlaylistModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Adding playlist</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputNamePlaylist" class="col-sm-2 control-label">Name:</label>
                    <input type="text" class="form-control" id="inputNamePlaylist" placeholder="Name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="acceptCreatingPlaylistButton" type="button" class="btn btn-success">Add</button>
            </div>
        </div>
    </div>
</div>

<div id="deletePlaylistModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Deleting playlist</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                <button type="button" id="acceptRemovingPlaylistButton" class="btn btn-danger" data-dismiss="modal">Yes
                </button>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Music for all</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#springUrl('/main')">Main</a></li>
                <li><a href="#springUrl('/search')">Search</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div id="resultsd" class="well col-md-9 ">
        <table id="results" class="table table-hover table-striped table-condensed ">
            <thead>
            <tr>
                <th>Actions</th>
                <th>Title</th>
            </tr>
            </thead>
        </table>
    </div>

    <div class="well  col-md-2 col-md-offset-1  ">
        <button id="createPlaylistButton" class="btn  btn-success btn-block " type="button">Create playlist</button>
        <button id="removePlaylistButton" class="btn  btn-danger btn-block" type="button">Remove selected</button>

        <ul id="playlists" class="nav nav-pills nav-stacked"/>
    </div>
</div>
<script language="javascript">
    var playlist = new Playlist();
    var track = new Track();

    $('#playlists').on('click', 'a', function (e) {
        e.preventDefault();
        $("#playlists").find("li").removeClass("active");
        $(this).closest('li').addClass('active');
        clearTracks();
        playlist.get($('#playlists li.active').attr('id'))
                .then(function (response) {
                    $.each(response.tracks, function () {
                        addTrack(this.id, this.name);
                    });
                });
    });

    $('#acceptRemovingPlaylistButton').on('click', function (e) {
        var playlistToRemove = $("#playlists").find("li.active")
        playlist.remove(playlistToRemove.attr('id'))
                .then(function () {
                    playlistToRemove.remove();
                    clearTracks();
                });
    });

    $('#acceptCreatingPlaylistButton').on('click', function (e) {
        playlist.create(document.getElementById('inputNamePlaylist').value)
                .then(function (response) {
                    addPlaylist(response.id, response.name);
                    $('#addPlaylistModal').modal('hide');
                });
    });

    $('#removePlaylistButton').on('click', function (e) {
        $('#deletePlaylistModal').modal('show');
    });

    $('#createPlaylistButton').on('click', function (e) { //Button which call modal window
        $('#addPlaylistModal').modal('show');
    });

    function deleteTrack(o, id) {
        track.remove(id).then(function () {
            var p = o.parentNode.parentNode;
            p.parentNode.removeChild(p);
        });
    }

    function addTrack(id, name) {
        $("#results").append("<tr><td><button type='button' class='btn btn-xs btn-success'>" +
                "<span class='glyphicon glyphicon-play'aria-hidden='true'></span></button>" +
                "<button type='button' class='btn btn-xs btn-danger' onclick='deleteTrack(this," + id + ")'>" +
                "<span class='glyphicon glyphicon-remove'aria-hidden='true'></span></button>" +
                "</td><td>" + name + "</td></tr>");
    }

    function clearTracks() {
        $("#results").find("tr:not(:first)").remove();
    }

    function clearPlaylists() {
        $("#playlists").find("li").remove();
    }

    function addPlaylist(id, name) {
        if (name === "") {
            name = "Untitled";
        }
        if (name.length > 20) {
            name = name.substr(0, 20); //Trimming long line
        }
        $("#playlists").append("<li id='" + id + "'><a href='#' data-value='" + name + "'>" + name + "</a></li>");
    }

    $(document).ready(function () {
        var header = $("meta[name='_csrf_header']").attr("content");
        var token = $("meta[name='_csrf']").attr("content");

        $.ajaxSetup({
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            }
        });
        playlist.all()
                .then(function (response) {
                    $.each(response, function () {
                        addPlaylist(this.id, this.name);
                    });
                });
    });
</script>
</body>
</html>