#parse("macros/macros.vm")
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile - Music For All</title>
    #head()
</head>
    #@body()
<h2>Profile</h2>
<h3>User Information</h3>
<p>
    <a href="index" class="btn btn-default">Main Page</a>
</p>
<h3>Hello, ${username}</h3>

#logoutForm()
    #end
</html>