<!DOCTYPE html>
<html lang="en">
<head>
    <title>js entities</title>
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="resources/js/playlist.js"></script>
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
</head>
<body>
<div id="create" class="btn btn-large btn-default">create</div>
<div id="songs" class="btn btn-large btn-default">songs</div>
<div id="deletePlaylist" class="btn btn-large btn-default">deletePlaylist</div>
<script>
    var header = $("meta[name='_csrf_header']").attr("content");
    var token = $("meta[name='_csrf']").attr("content");
    var playlist = new Playlist();

    $.ajaxSetup({
        beforeSend: function (xhr) {
            xhr.setRequestHeader(header, token);
        }
    });

    $("#create").on('click', function (event) {
        playlist.create("Best")
                .then(function (response) {
                    console.log("From creatind promise id = %d", response);
                });
    });
    $("#songs").on('click', function (event) {
        playlist.songs(4)
                .then(function (response) {
                    $.each(response, function () {
                        console.log("Get song with name %s and location %s", this.name, this.location);
                    })
                });
    });
    $("#deletePlaylist").on('click', function (event) {
        playlist.remove(1)
                .then(function (response) {
                    console.log("From deleting promise id = %d", response);
                });
    });
</script>
</body>
</html>