#parse("macros/macros.vm")
<!DOCTYPE html>
<html lang="en">
<head>
    #@head()
        <title>Add song</title>
        <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
        <link href="/resources/css/filespage.css" rel="stylesheet">
    #end
</head>
    #@body()
        #navigation([
            {"isActive": false, "url": "#springUrl('/main')", "title": "Main"},
            {"isActive": false, "url": "#springUrl('/search')", "title": "Search"},
            {"isActive": true, "url": "#springUrl('/tryFiles')", "title": "Add track"}
        ])

    <div class="container">
        <div class="col-md-4 col-md-offset-4 well  ">
            <div id="result" class="alert alert-info collapse" role="alert"></div>
            #@formDetail("uploadForm" "/files" "POST" "multipart/form-data")
                <input type="text" name="inputArtist" id="inputArtist" class="form-control" placeholder="Artist"
                       required/>
                <input type="text" name="inputTitle" id="inputTitle" class="form-control" placeholder="Title" required/>

                <div class="form-group">
                    <h4 class="control-label text-center">Tags</h4>
                    <input type="text" name="tags" id="tags" class="form-control"
                           data-role="tagsinput" placeholder="New tag"/>
                </div>

                <div class="text-center">
                    <label class="btn btn-default btn-file">
                        Browse file<input type="file" name="file" id="file" style="display:none;">
                    </label>
                    <button value="submit" class="btn btn-default btn-primary" onclick="uploadJqueryForm()">Add song
                    </button>
                    <div id="fileName" class="control-label" role="alert"></div>
                </div>
            #end
            <script>

                $('#file').change(function () {
                    var filename = $('#file').val();
                    filename = filename.substring(filename.lastIndexOf("\\") + 1, filename.length);
                    $('#fileName').html(filename);
                    $('#result').hide();
                });

                function uploadJqueryForm() {
                    if ($('#inputArtist').val() == "" || $('#inputTitle').val() == "") {
                        return;
                    }
                    $('#result').html('');

                    $("#uploadForm").ajaxForm({
                        success: function (data) {
                            $('#result').html(data);
                            $('#result').show();
                            $('#inputArtist').val('');
                            $('#inputTitle').val('');
                        },
                        dataType: "text"
                    }).submit();

                }
            </script>
        </div>
    </div>
    #end
    #footer()
</html>