#parse("macros/macros.vm")
<!DOCTYPE html>
<html lang="en">
<head>
    #@head()
        <title>Add song</title>
        <script src="//cdn.jsdelivr.net/bootstrap.tagsinput/0.4.2/bootstrap-tagsinput.min.js"></script>
        <link href="/resources/css/filespage.css" rel="stylesheet">
        <script src="resources/js/track.js"></script>
        <meta name="_csrf" content="${_csrf.token}"/>
        <meta name="_csrf_header" content="${_csrf.headerName}"/>
    #end
</head>
    #@body()
        #navigation([
        {"isActive": false, "url": "#springUrl('/main')", "title": "Main"},
        {"isActive": false, "url": "#springUrl('/search')", "title": "Search"},
        {"isActive": true, "url": "#springUrl('/uploadFile')", "title": "Add track"}
        ])

    <div class="container">
        <div class="col-md-4 col-md-offset-4 well  ">
            <div id="result" role="alert"></div>
            #@form("uploadForm" "/files?${_csrf.parameterName}=${_csrf.token}" "POST" "multipart/form-data")
                <input type="text" name="inputArtist" id="inputArtist" class="form-control" placeholder="Artist"
                       required/>
                <input type="text" name="inputTitle" id="inputTitle" class="form-control" placeholder="Title" required/>

                <div class="form-group">
                    <h4 class="control-label text-center">Tags</h4>
                    <input type="text" name="tags" id="tags" class="form-control"
                           data-role="tagsinput" placeholder="New tag"/>
                </div>

                <div class="text-center">
                    <label class="btn btn-default btn-file">
                        Browse file<input type="file" name="file" id="file" style="display:none;" required>
                    </label>
                    <button type="button" class="btn btn-default btn-primary" onclick="uploadJqueryForm()">Add song
                    </button>
                    <div id="fileName" class="control-label" role="alert"></div>
                </div>
            #end
        </div>
    </div>
    #end
    #footer()
<script>
    var header = $("meta[name='_csrf_header']").attr("content");
    var token = $("meta[name='_csrf']").attr("content");
    var track = new Track();
    $.ajaxSetup({
        beforeSend: function (xhr) {
            xhr.setRequestHeader(header, token);
        }
    });

    function showFilename() {
        var filename = $('#file').val();
        filename = filename.substring(filename.lastIndexOf("\\") + 1, filename.length);
        $('#fileName').html(filename);
    }

    function clearInputs() {
        $('#inputArtist').val('');
        $('#inputTitle').val('');
        $('#tags').tagsinput('removeAll');
    }

    $('#file').change(function () {
        $('#result').hide();
        showFilename()
    });

    function isEmptyInputs() {
        if ($('#inputArtist').val() == "" || $('#inputTitle').val() == "" || $('#file').val() == "") {
            showMessage("Fill all fields", "warning");
            return true;
        } else {
            return false;
        }
    }

    function showMessage(message, type) {
        $("#result").removeClass();
        $('#result').addClass("alert collapse alert-" + type);
        $('#result').html(message);
        $('#result').show();
    }

    function uploadJqueryForm() {
        const max_length_error = 200;
        if (isEmptyInputs()) {
            return;
        }
        $('#result').html('');
        track.create($('#tags').val(), $('#inputArtist').val(), $('#inputTitle').val())
                .then(function (response) {
                    var formData = new FormData();
                    formData.append("track", JSON.stringify(response));
                    formData.append("file", $('input[type=file]')[0].files[0]);
                    $.ajax({
                        url: "/files",
                        type: 'POST',
                        data: formData,
                        cache: false,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            showMessage(data, "success");
                            clearInputs();
                        },
                        error: function (xhr, status, error) {
                            if (xhr.responseText.length < max_length_error) {
                                showMessage(xhr.responseText, "danger");
                            } else {
                                showMessage(error, "danger");
                            }
                        }
                    });
                });
    }

</script>
</html>