#parse("macros/macros.vm")
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="resources/js/jquery.min.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/welcomepage.js"></script>

    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/css/welcomepage.css" rel="stylesheet">
    <link href="/resources/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet">
</head>
<body>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="intro-message">
                    <h1>Music for all</h1>
                    <h3>Sign in and manage your songs</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="#" class="btn btn-default "><i class="fa fa-google fa-fw"></i> <span
                                    class="network-name">Google</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default "><i class="fa fa-twitter fa-fw"></i> <span
                                    class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default "><i class="fa fa-facebook fa-fw"></i> <span
                                    class="network-name">Facebook</span></a>
                        </li>
                    </ul>
                    #if ($request.getParameter('error'))
                        <div>
                            Failed to login.
                            #if(${SPRING_SECURITY_LAST_EXCEPTION})
                                Reason: ${SPRING_SECURITY_LAST_EXCEPTION.message}
                            #end
                        </div>
                    #elseif ($request.getParameter('logout'))
                        <div>
                            You have been logged out.
                        </div>
                    #end
                    #@form("/welcome", "POST")
                    <div class="col-md-12">
                        <div class="col-md-4 col-md-offset-4">
                            <label for="inputUsername" class="sr-only">Username</label>
                            <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username"
                                   required autofocus />
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
                                   required />
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Log in" />
                        </div>
                    </div>
                    #end
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>