body {
    padding-top: 70px;
}

.stop-stream-button,
.active .start-stream-button {
    display: none;
}

.active .stop-stream-button {
    display: inline-block;
}

.track-container.playing:before {
    content: " ";
    float: left;
    position: relative;
    background: url(/resources/img/indicators__icon-equalizer.gif);
    display: inline;
    height: 25px;
    width: 25px;
}