.title {
    margin-bottom: 60px;
    margin-top: 70px;
}

.following_user .username {
    background: url("/resources/img/dark_purple.jpg");
    background-position: right bottom;
    font-size: 150%;
    color: #FFFFE0;
    padding-top: 10px;
    padding-bottom: 5px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.following_user .username:hover {
    background: url("/resources/img/light_purple.jpg");
    background-position: right bottom;
}

.following_user .activities .activity {
    border-bottom: solid;
    border-width: 2px;
    border-color: #000080;
    margin: 0;
}

.following_user .activities .activity .event {
    background-color: #e4deff;
    padding-left: 100px;
}

.following_user .activities .activity .event .playlist-name {
    font-weight: bold;
    color: #AE00D4;
}

.following_user .activities .activity .event .track-name {
    font-weight: bold;
    color: #1707a3;
}

.following_user .activities .activity .date {
    font-weight: bold;
    text-align: center;
    color: #809dc0;
    background-color: #e9ddff;
}





