body {
    padding-top: 70px;
}

#recommendations li {
    float: left;
    margin: .5em
}

.btn.active {
    color: yellow;
}

.check {
    display: inline-block;
}

.tracks-table.no-checkbox .check,
.tracks-table.no-plus-button .btn.btn-success.add-song-button,
.hidden {
    display: none;
}