.circle {
    border-radius: 50%;
    background-color: red;
    width: 20px;
    height: 20px;
    position: relative;

    -webkit-animation: animateColor 8s infinite; /* Chrome, Safari, Opera */
    animation: animateColor 8s infinite;
    /* width and height can be anything, as long as they're equal */
}

.play {
    -webkit-animation-play-state: running; /* Chrome, Safari, Opera */
    animation-play-state: running;
}

.pause {
    -webkit-animation-play-state: paused; /* Chrome, Safari, Opera */
    animation-play-state: paused;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes animateColor {
    0%   {background-color:red}
    25%  {background-color:yellow}
    50%  {background-color:blue}
    75%  {background-color:green}
    100% {background-color:red}
}

/* Standard syntax */
@keyframes animateColor {
    0%   {background-color:red}
    25%  {background-color:yellow}
    50%  {background-color:blue}
    75%  {background-color:green}
    100% {background-color:red}
}